@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("/colors.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
li {
  list-style-type: none;
  text-transform: capitalize;
}
a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Poppins";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-clr);
}
p,
i {
  color: var(--primary-clr);
}
body {
  background-color: rgb(13, 13, 13);
  overflow-x: hidden;
}
/* custom scrollbar */
.scroll-watcher {
  height: 2px;
  position: fixed;
  display: block;
  top: 0;
  z-index: 9999;
  opacity: 1;
  background-image: var(--gra-yellow);
  width: 100%;
  scale: 0 1;
  animation: scroll-watcher ease-in;
  animation-timeline: scroll();
}
@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

/* ===== Variables ===== */
:root {
  /* Padding */
  --p-xm: 4px;
  --p-sm: 10px 14px;
  --p-md: 12px 16px;
  --p-lg: 16px 24px;
  --con-pad: 60px 40px;
  --sec-head-pad: 44px 40px;

  /* Margin */
  --m-xm: 4px 0;
  --m-sm: 8px 0;
  --m-md: 12px 0;
  --m-t-b: 10px 0;
  --m-t-b-md: 20px 0;

  /* Colors */
  --primary-clr: #fff;
  --secondary-clr: #e8e4c9;
  --darkk-clr: #29272d;
  --yellow: #fcd667;
  --gold: rgba(255, 179, 0, 1);
  --b-violet: rgba(98, 103, 255, 1);
  --green: #16832e;

  /* Gradient Color */
  --gra-white: linear-gradient(45deg, #dedede, #ffffff);
  --gra-yellow: linear-gradient(
    45deg,
    rgba(255, 179, 0, 1),
    rgba(252, 214, 103, 1)
  );
  --gra-bgreen: linear-gradient(
    45deg,
    rgba(98, 103, 255, 1),
    rgba(22, 131, 46, 255)
  );

  /* Font size */
  --font-sm: 0.8rem;
  --font-nr: 1rem;
  --font-md: 1.2rem;

  /* Border radius */
  --border-radius-full: 50%;
  --section-rad: 12px;
  --btn-radius: 4px;
  --card-rad: 8px;

  /* Transition */
  --transition-one: all 0.25s ease;
  --transition-two: all 0.5s linear;
}

/* ----- background blur ----- */
.clr-one {
  width: 800px;
  height: 800px;
  position: absolute;
  top: -250px;
  left: -400px;
  background-color: #fcd667;
  opacity: 0.7;
  filter: blur(150px);
  border-radius: var(--border-radius-full);
  z-index: -9999;
}

.clr-two {
  width: 500px;
  height: 500px;
  background-color: #fcd667;
  position: absolute;
  top: 300px;
  left: 80%;
  border-radius: var(--border-radius-full);
  opacity: 0.8;
  filter: blur(200px);
  z-index: -9999;
}
/* ----- Header ----- */
header {
  width: 100%;
  height: 60px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px 5px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

/* ----- Navigation Bar ----- */
header {
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px 5px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

header .nav {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .nav .logo {
  display: flex;
  width: 56%;
}
header .nav .logo i {
  display: flex;
  margin-left: 50px;
  padding: 5px;
  font-size: 25px;
}

.nav nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.nav nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.nav .nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.cart-notification {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 30px;
  color: var(--gold);
  border-radius: 50%;
  padding: 4px;
  font-size: 11px;
  font-weight: bold;
}

.bi {
  color: var(--primary-clr);
  transition: var(--transition-one);
  font-size: 1.2rem;
}
.bi:hover {
  color: var(--gold);
  transition: var(--transition-one);
}
header .bi-list {
  display: none;
}

.col-text {
  align-self: self-start;
  padding-top: 65px;
  margin-left: 65px;
}

.col-img {
  flex: 1.5;
}

/* ----- Footer ----- */
footer .footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer-line::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--darkk-clr);
}
footer .wrapper {
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  position: relative;
}
.wrapper .col {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
footer .wrapper .col {
  line-height: 40px;
}
.col a:hover {
  color: var(--gold);
}
.col i {
  font-size: 1.5rem;
  cursor: pointer;
}
.col i:hover {
  color: var(--gold);
}

.col .about-website {
  margin: 10px;
}

/* ----- Website Properties ----- */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: var(--con-pad);
  width: 100%;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
  width: 1280px;
}
.col {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
figure {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
figure img {
  width: 100%;
  object-fit: cover;
}
.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  padding: var(--sec-head-pad);
  z-index: 100;
}
.section-heading .sub-heading {
  color: var(--primary-clr);
}
.heading-one {
  font-size: 4rem;
  text-transform: capitalize;
  color: var(--primary-clr);
}
.heading-two {
  font-size: 2.8rem;
  text-transform: capitalize;
}
.heading-three {
  font-size: 1.4rem;
  text-transform: capitalize;
}
.heading-one span,
.heading-two span {
  color: var(--gold);
}
.btn {
  border: none;
  outline: none;
  background-image: var(--gra-yellow);
  color: var(--darkk-clr);
  border-radius: var(--btn-radius);
  padding: var(--p-sm);
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 1px;
  transition: var(--transition-one);
  font-size: var(--font-nr);
  cursor: pointer;
}
.btn:hover {
  background-image: var(--gra-bgreen);
  color: var(--primary-clr);
}
.clr-one {
  width: 800px;
  height: 800px;
  position: absolute;
  top: -250px;
  left: -400px;
  background-color: #fcd667;
  opacity: 0.5;
  filter: blur(100px);
  border-radius: var(--border-radius-full);
}
.clr-two {
  width: 400px;
  height: 400px;
  background-color: #fcd667;
  position: absolute;
  left: 45%;
  border-radius: var(--border-radius-full);
  opacity: 0.5;
  filter: blur(300px);
}

/* ----- Cart Notification ----- */
.cart-notification {
  z-index: -1;
  position: absolute;
  top: -8px;
  right: 30px;
  color: var(--gold);
  border-radius: 50%;
  padding: 4px;
  font-size: 11px;
  font-weight: bold;
}

/* ----- Cart Popup Section ----- */
.cart-popup {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden; /* Prevents scroll bars */
}
.cart-content {
  background-color: #fefefe;
  margin: 4.5% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 50%;
  height: auto;
  position: relative;
  z-index: 1000;
}
.cart-content h2 {
  color: var(--darkk-clr);
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  font-size: 1.7rem;
}
.cart-content {
  overflow-y: auto;
  max-height: calc(100vh - 200px);
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.cart-content::-webkit-scrollbar {
  display: none;
}
#cartItems div {
  margin: 20px;
  letter-spacing: 1px;
  display: grid;
  justify-items: center;
}
#totalPrice {
  display: flex;
  margin: 20px;
  justify-content: flex-end;
  letter-spacing: 1px;
  margin-right: 40px;
}
#button {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}
#button button {
  width: 200px;
  height: 44px;
  border-radius: 30px;
  outline: none;
  border: none;
  background-image: var(--gra-yellow);
  font-weight: bold;
  cursor: pointer;
}
#button button:hover {
  background-image: var(--gra-bgreen);
  color: white;
}
.remove-btn {
  padding: 5px 30px;
  border: transparent;
  margin: 10px;
  border-radius: 50px;
  background-color: #29272d;
  color: #fefefe;
  cursor: pointer;
}
.remove-btn:hover {
  background-image: var(--gra-yellow);
  color: var(--darkk-clr);
  font-weight: bold;
}
.add-btn {
  padding: 5px 30px;
  border: none;
  border-radius: 50px;
  background-color: #29272d;
  color: #fefefe;
  margin-left: 5px;
  cursor: pointer;
}
.add-btn:hover {
  background-image: var(--gra-yellow);
  color: var(--darkk-clr);
  font-weight: bold;
}
.quantity {
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  text-align: center;
}
.quantity div {
  justify-content: center;
  align-items: center;
}
.close {
  color: #aaa;
  left: 92%;
  font-size: 28px;
  font-weight: bold;
  transition: transform 0.5s;
  position: absolute;
}
.close:hover {
  transform: rotate(180deg);
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* ----- Products Section ----- */
.collection .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  align-items: center;
  gap: 30px;
  padding: 0 30px;
  width: 1280px;
}
.collection .collection-item {
  transition: var(--transition-one);
}
.collection .grid-wrapper figure {
  background-color: var(--secondary-clr);
  border-radius: 0.9rem;
}
.collection .btn-col.btn {
  color: var(--darkk-clr);
  transition: var(--transition-one);
}
.collection .btn-col.btn:hover {
  color: var(--primary-clr);
  transition: var(--transition-one);
}
.collection .btn-col {
  margin: 5px;
  border: none;
  outline: none;
  border: 1px solid var(--darkk-clr);
  background-color: transparent;
  color: var(--primary-clr);
  width: 120px;
  height: 44px;
  border-radius: 0.9rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: var(--transition-two);
}
.hide {
  display: none;
}
.collection .sub-heading {
  margin-top: 10px;
}
.col-body {
  padding: 0.5rem;
  width: 100%;
}
.col-body .rating-icon {
  font-size: var(--font-sm);
}
.col .rating-icon .bi-star-fill {
  color: var(--gold);
}
.col-body .sub-heading {
  font-size: var(--font-sm);
  color: var(--primary-clr);
}
.col-body .col-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--m-sm);
}
